<head>
  <link rel="stylesheet" type="text/css" href="splash.css">
</head>  

<body class="homepage">
  <div id="header">
    <header>
      <h1>Awaken</h1>
      <%= link_to "Login", user_omniauth_authorize_path(:google_oauth2), class: "waves-effect waves-light btn"%>
    </header>
  </div>
  <!-- Copyright -->
  <center>
    <div class="copyright">
      <ul class="menu">
        <li>&copy; All rights reserved.</li><li>Design By: Angela, Roger, Kavya and Tony</li>
      </ul>
    </div>
  </center>
  </body>