<div class="z-depth-4 tv-style grey darken-1">
<h3>Please enter your device's registration code below:</h3>
<%= form_for @device, url: {action: "create"} do |f| %>
  <%= f.text_field :serial %>
  <%= f.submit "Register!", class: "waves-effect waves-light btn"%> 
<% end %>
</div>