<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<body onload="startTime()" class="brown lighten-4">
<div id="content">
<!-- Header -->

<header class="w3-container w3-padding">


  <div class="w3-center">
  <h4>"<%= @quotes_list.sample.upcase %>"</h4>
  <span class="w3-animate-bottom title"><strong>GOOD MORNING, BEAUTIFUL.</strong></span>
  </div>
<!--   <iframe src="https://embed.spotify.com/?uri=spotify:track:7jslhIiELQkgW9IHeYNOWE" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> -->
</header>


  <div class="w3-row-padding w3-center all-widgets">

  <%= @content %>

  </div>
  </div>


<footer class="footershow w3-container w3-dark-grey w3-theme-dark w3-padding-16">
  <div class="w3-center w3-container w3-padding">
    <h1 class="w3-xxxlarge">
      <clock>
        <div id="time"></div>
        <div style="font-size: 50px; "></div>
      </clock>
    </h1>
    <p><%= Date.today.strftime("%A, %b %d, %Y").upcase %></p>
  </div>
</footer>
<%= audio_tag("AwakenJingle_demo.mp3", autoplay: true) %>
</body>
