<head>
  <link rel="stylesheet" type="text/css" href="widgets.css">
</head>
<body id="stuff">
	<div id="widget-container">
		<div id="weather-widget" class= "hidden grey darken-3">
		  <p id="weather"></p>

		  <img id="weather-icon" src=""></img>
		</div>
	</div>
</body>