
.is-loading *, .is-loading *:after, .is-loading *:before {
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

#headerone {
  position: relative;
  background-image: url("/assets/DV_Layers-X2.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  padding: 7.5em 0 2em 0;
  cursor: default;
}



.homepage #headerone {
  height: 100vh;
  min-height: 40em;
}

.homepage #headerone h1 {
  font-size: 4em;
}

.homepage #headerone:after {
  content: '';
  background: #1C0920;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -moz-transition: opacity 2.5s ease-in-out;
  -webkit-transition: opacity 2.5s ease-in-out;
  -ms-transition: opacity 2.5s ease-in-out;
  transition: opacity 2.5s ease-in-out;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.homepage.is-loading #headerone:after {
  opacity: 1;
}

.logo {
  width: 25%;
  height: 25%;
}
