#stuff {
	/*background: image-url('/app/assets/images/morning.jpeg') no-repeat;*/
	background-image: url('/assets/morning.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
	background-position:center center;
}


#weather-widget {
	
	color: white;
	text-align: center;
	border-radius: 25px;
	padding: 20px;
	display: none;
	vertical-align: middle;
	background: darkgray;
	width: 25vw;
	height: 25vw;
	margin: 0 auto;
	right: 30%;
	position:relative;
	top: 275px;
}

#maps-widget {
	
	color: white;
	text-align: center;
	border-radius: 25px;
	padding: 20px;
	display: none;
	vertical-align: middle;
	background: darkgray;
	width: 25vw;
	height: 25vw;
	margin: 0 auto;
	right: 37%;
	position:absolute;
	top: 275px;
}

#weather{
	text-align: center;
	color: white;
	font-family: "Roboto", monospace;
	font-weight: 300;
	font-size: 20px;
}

#maps{
	top: 10px;
	text-align: center;
	color: white;
	font-family: "Roboto", monospace;
	font-weight: 300;
	font-size: 20px;
}

.widget-bold{
	text-align: center;
	color: white;
	font-family: "Roboto", monospace;
	font-weight: 300;
	font-size: 28px;
}

.news-container{
	color: white; 
	position: fixed; 
	bottom: 0; 
	font-size: 30px;
}












