#content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: image-url('city1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center center;

	-webkit-filter: blur(3px);
	  -moz-filter: blur(3px);
	  -o-filter: blur(3px);
	  -ms-filter: blur(3px);
	  filter: blur(3px);
}



#weather-widget {

	color: white;
	text-align: center;
	border-radius: 25px;
	padding: 20px;
	display: none;
	vertical-align: middle;
	background: darkgray;
	width: 25vw;
	height: 25vw;
	margin: 0 auto;
	right: 30%;
	position:relative;
	top: 275px;
}

#maps-widget {

	color: white;
	text-align: center;
	border-radius: 25px;
	padding: 20px;
	display: none;
	vertical-align: middle;
	background: darkgray;
	width: 25vw;
	height: 25vw;
	margin: 0 auto;
	right: 37%;
	position:absolute;
	top: 275px;
}

#weather{
	text-align: center;
	color: white;
	font-family: "Roboto", monospace;
	font-weight: 300;
	font-size: 25px;
}

#maps{
	top: 10px;
	text-align: center;
	color: white;
	font-family: "Roboto", monospace;
	font-weight: 300;
	font-size: 25px;
}

.widget-bold{
	text-align: center;
	color: white;
	font-family: "Roboto", monospace;
	font-weight: 300;
	font-size: 25px;
}

#news-widget{
	color: black;
	position: fixed;
	bottom: 17%;
	right: 0;
	font-size: 30px;
	width: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,500,700);
clock{
  color: white;
  text-align: center;
  /*vertical-align: middle;*/
  /*font: 63px  Lato, sans-serif;*/
  /*position: relative;*/
  top: 10vw;
}


@media only screen and (max-width: 767px) {
  clock {
    font: 130px  Lato, sans-serif;
    top: 20vw;
  }

}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.all-widgets {
	margin-top: 6%;
}

.title {
	font-size: 60px;
	font-weight: bold;
}
